
@{
    ViewData["Title"] = "ArticleA";
}

<div class="container">
    <form>
        <div>
            <img src="~/img/teacher.jpg" alt="" title="" height="600" width="1000" />
            <h2>Card title</h2>
            <p>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">想參與討論嗎?</label>
            <br />
            <textarea cols="130" rows="5" id="formGroupExampleInput" name="formGroupExampleInput"></textarea>

        </div>
        <input type="submit" value="送出">
    </form>
</div>


