@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "刪除個人資料";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>刪除資料將永久刪除您的帳號，且此動作將永遠無法被復原！</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">刪除此帳號及我的所有個人資料</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}