@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "設定二階段驗證App";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>如需使用二階段驗證App，請按以下步驟操作：</p>
    <ol class="list">
        <li>
            <p>
                請下載二階段驗證App如：
                <br />
                Microsoft Authenticator(
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android版</a>)(
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS版</a>)
            </p>
            <p>
                或Google Authenticator(
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android版</a>)(
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS版</a>)。
            </p>
        </li>
        <li>
            <p>掃描QRcode新增二階段驗證</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
            <br />
        </li>
        <li>
            <p>
                一旦您掃描QRcode啟用驗證，您的二階段驗證App將提供您一組唯一碼，請於下方輸入該碼進行驗證。
            </p>
            <div class="row">
                <div class="col-md-8">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">驗證唯一碼</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">驗證</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript" src="~/js/qr.js"></script>
}
