@page
@model PersonalDataModel
@{
    ViewData["Title"] = "個人資料";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>此頁面含有您提供給我們的個人資料，您能在此下載或刪除您的個人資料。</p>
        <p>
            <strong>刪除資料將永久移除您的帳號，且無法被復原。</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">下載</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">刪除</a>
        </p>
    </div>
    <div class="col-md-6">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
